.flexcenter {
display: flex;
flex-direction: column;
align-items: center;
}

.loginform{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexrows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.workoutcards {
  width:20rem;
  margin: 1rem;
}

.workoutcardbuttons {
  width:5rem;
}

.workoutcardbuttonflex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
